providers
*-compose.yml
data/
target/
*~
*.DS_Store
.idea
.settings
.project
bin/
*iml
.node
tmp/*
dependency-reduced-pom.xml
.classpath
.factorypath
.vscode
.swagger*
src/main/resources/META-INF/jpa-changelog-phasetwo-full.xml

# cypress
node_modules
src/test/e2e/cypress/reports
src/test/e2e/cypress/videos
src/test/e2e/cypress/screenshots
