@import "@patternfly/patternfly/patternfly-addons.css";

html,
body,
#root {
  height: 100%;
}

.step-image {
  max-width: 600px;
  box-shadow: 0px 0px 4px 1px lightgrey;
  border-radius: 5px;
  vertical-align: text-top;
  &:hover {
    cursor: "pointer";
  }
}

.selection-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
  margin-top: 7px;
}

.selection-item {
  list-style: none;
  flex: 0 0 33.333333%;
}

.container {
  margin: auto;
  width: 80%;
  height: calc(100% - 100px);
  padding: 5px;
  text-align: center;
  top: 50%;
  /* border: 1px solid lightgray; */
  border-radius: 5px;

  h1 {
    font-size: 36px;
    padding: 10px;
  }
}

.vertical-center {
  position: relative;
  /* left: 40%; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.step {
  position: absolute;
  left: 50px;
  width: calc(100% - 100px);
  color: lightgray;
  padding: 5px;
  vertical-align: text-top;
}

.step-instruction {
  min-width: 40%;
  max-width: 40%;
  margin-bottom: 1rem;
}

.step-no-instruction {
  min-width: 80%;
}

.step-instruction-image {
  max-width: 80%;
}

.step-body {
  text-align: left;
  padding: 10px;
  width: 100%;

  h1,
  h2 {
    padding: 5px;
  }

  img {
    border: 2px solid lightgrey;
  }
}

.step-header {
  padding: 5px;
  float: left;
}
.step-header-image {
  float: left;
  margin: 5px auto;
  max-width: 150px;
  max-height: 75px;
  width: 100%;
  height: auto;
}

.form-label {
  color: #0066cc;
  text-align: left;
}

.link {
  cursor: pointer;
}

.idp-button {
  width: 200px;
  height: 75px;
  padding: 0px;
  align-items: center;
  border: 2px solid lightgray;
  padding-top: 8px;
  vertical-align: center;
  border-radius: 5px;
  cursor: pointer;

  img {
    display: block;
    margin: 0 auto;
    max-height: 99%;
    width: auto;
    height: auto;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  &.disabled {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.6;

    &:hover {
      box-shadow: 0 0 0;
    }
  }
}
